.Productname{
    left: 250px;
    position: relative;
    color: #496ebc;
    font-size: 250%;
    top: 80px;
}
.Productfoto{
    position: relative;
    width: 500px;
    left: 250px;
    top: 150px;
    border-radius: 16px;
}
.Button {
    width: 500px;
    padding: 5px 20px;
    background-color: #55acee;
    text-decoration: none;
    color: white;
    position: absolute;
    left: 65%;
    top: 40%;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;


}
.Button:hover{
background-color: #496ebc;
}
.Prijs{
    position: absolute;
    left: 65%;
    top: 30%;
    font-size: 36px;
    color: black;
}
.verlanglijstje-btn{
    width: 500px;
    padding: 1px  20px;
    background-color: orangered;
    text-decoration: none;
    color: white;
    position: absolute;
    left: 65%;
    top: 46%;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}
.Button-twee:hover{
    background-color: brown;
}

.Omschrijving{
    position: absolute;
    width: 500px;
    height: 10%;
    left: 65%;
    top: 51%;
    font-size: 16px;
    border: 1px solid #3b5998;
    border-radius: 8px;
}

.Stock{
    position: absolute;
    left: 65%;
    width: auto;
    top: 35%;
}
.ProductTemp{
    position: absolute;
    left: 65%;
    top: 37%;
}
.alt\=\"a\"{
    position: relative;
    width: 120%;
    height: auto;
    border-radius: 2px;
}