body{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
}
.Header {
    border-top: #0abde3 solid 1px;

    margin:auto;
}
.Header img{
    transform: translate(75%,10%);
    max-height: 85%;
    max-width: 80%;
}

.Header{
    width: 100%;
    height: 60px;
    display:block;
    background-color: black;
}
.Search-Bar{
    margin:auto;
    width: 600px;
    position: absolute;
    top:5%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: #0abde3 solid 3px;
    border-radius: 20px;
}
.Search-txt{
    border:blue;
    outline: none;
    background: none;
    color:#0abde3;
    font-size: 15px;
    width:550px;
    height: 20px;
    float: left;
    margin:0 10px;
}
.search-btn i {
    color: dimgray;
    float: right;
    position: absolute;
    top:3px;
    right:6px;
}
.Winkelmandje{
    color: blue;
}

