*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
#sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    background: #2834ff;
}
#sidebar li a{
    color: rgba(255, 41, 119, 0.9);
    list-style: none;
    padding: 1px 20px;
    border-bottom: 2px solid rgb(5, 5, 5);
    line-height: 1.6;
}
#sidebar ul li a{
    color: rgb(106, 193, 255);
    font-size: 22px;
}
#sidebar ul li a:hover{
    color: rgb(104, 236, 255);
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}