body {
    padding-top: 65px;
}

.navbar-links-categorieen{
    color: #6ac1ff;
    position: relative;
    right: 200px;
    padding-right: 20px;
}
.navbar-links-sale{
    color: red;
    position: relative;
    right: 200px;
    padding-right: 20px;
}

.dropdown-toggle{
    color:  #6ac1ff;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.price {
    color: grey;
    font-size: 22px;
}

.container-fluid a img{
    position: relative;
    left: 120px;
}
.LogIn{
    position: absolute;
    color:  #6ac1ff;
    right: 30px;
    top:10px;
    vertical-align: middle;
}


.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #6ac1ff;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc;
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

.search-btn{
    background-color: #0abde3;
    color: white;
    border: grey solid 1px;
    border-radius: 10px;
}

.search-text{
    outline: none;
    overflow: hidden;
    width: 300px;
    background: none;
    border: #0abde3 solid 2px;
    border-radius: 15px;
    color:#0abde3;
    float: none;
    text-align: justify;
    padding-left: 10px;
}

a.dropdown{
    list-style-type: none;
}

.footer{
    z-index: 1;
    text-align: center;
    padding: 1px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: #6ac1ff;
    height: 20px;
}

.footer a {
    padding-right: 250px;
}
